src/main/mule/oauth-provider.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider" xmlns:oauth="http://www.mulesoft.org/schema/mule/oauth" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/oauth http://www.mulesoft.org/schema/mule/oauth/current/mule-oauth.xsd
http://www.mulesoft.org/schema/mule/oauth2-provider http://www.mulesoft.org/schema/mule/oauth2-provider/current/mule-oauth2-provider.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">


	<flow name="createClient" doc:id="b8b4a87f-cbf1-4106-a910-721c6e24e8fa" >
		<http:listener doc:name="Listener" doc:id="bf912945-7ae7-43d2-8e68-c8114e193ba3" config-ref="HTTPS_Listener_config" path="/createClient"/>
		<oauth2-provider:create-client doc:name="Create client" doc:id="dd4a6b9f-7bdb-43cf-9d44-d2fbc25c7679" config-ref="OAuth2_Provider_Config" clientId="#[attributes.headers.client_id]" type='CONFIDENTIAL' secret="#[attributes.headers.client_secret]" clientName="#[attributes.headers.client_name]" redirectUris='#[[]]' authorizedGrantTypes='#[["CLIENT_CREDENTIALS"]]' description='#[""]' principal='#[""]' scopes='#[[]]' failIfPresent="true"/>
		<logger level="INFO" doc:name="Logger" doc:id="1f07c5a4-5efe-43bc-ba24-a5e0fe2feeb7" message="#[payload]" />
		<ee:transform doc:name="Transform Message" doc:id="9dd36b74-f4aa-4149-be62-2c11019a124c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message":"Client Created Successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	
</flow>
	<flow name="validateToken" doc:id="38145866-8e75-4048-846f-715719b84075" >
		<http:listener doc:name="Listener" doc:id="8e3351bb-80e1-4fd3-9eaf-27f597246a5a" config-ref="HTTPS_Listener_config" path="/validateToken"/>
		<oauth2-provider:validate-token doc:name="Validate token" doc:id="c92959db-ce69-49f1-8ae0-267232ca3089" config-ref="OAuth2_Provider_Config"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="b82bfafd-f83c-4e08-841d-2b3e9ee01862" />
	</flow>
	<flow name="deleteClient" doc:id="75395269-ec71-47c5-82d5-56eecf43af81" >
		<http:listener doc:name="Listener" doc:id="8ef0ec2e-27cc-4e1f-9535-267278a126fb" config-ref="HTTPS_Listener_config" path="/deleteClient"/>
		<oauth2-provider:delete-client doc:name="Delete client" doc:id="4e19d1e9-a411-4ef6-9521-f48c26b056cd" config-ref="OAuth2_Provider_Config" clientId="#[attributes.headers.client_id]"/>
		<ee:transform doc:name="Transform Message" doc:id="e026e217-181a-4acc-84f6-409eb75d0f16" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message":"Client Deleted Successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="retriveClients" doc:id="746563c9-b511-4387-869d-d8d0370f5960" >
		<http:listener doc:name="Listener" doc:id="4f49b7ce-1bbd-4a87-bae3-ab6e74856106" config-ref="HTTPS_Listener_config" path="/retriveClients"/>
		<os:retrieve-all doc:name="Retrieve all" doc:id="fa40b7d7-eeb4-4813-b2b8-f2dae4da0932" objectStore="client_object_store"/>
		<ee:transform doc:name="Transform Message" doc:id="ee75b2be-e722-4faa-8ccd-c84872e88f2b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
